operator/src/main/helm/coherence-k8s-operator/requirements.yaml
operator/src/main/helm/coherence-k8s-operator/charts/prometheus-operator*.tgz

# IntelliJ project files
.idea/
*.iml

# MacOS files
.DS_Store

# Maven files
settings.xml
target/

# Operator-SDK build output
_output/
bin

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output from JUnit reporter
pkg/**/test-report.xml
test/**/test-report.xml
/temp/
/hack/sdk/*
