apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: default
  labels:
    app: coherence-operator
    control-plane: coherence
    version: "3.5.4"
    app.kubernetes.io/name: coherence-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/instance: coherence-operator-manager
    app.kubernetes.io/version: "3.5.4"
    app.kubernetes.io/component: manager
    app.kubernetes.io/part-of: coherence-operator
spec:
  selector:
    matchLabels:
      control-plane: coherence
  replicas: 3
  progressDeadlineSeconds: 600
  template:
    metadata:
      labels:
        app: coherence-operator
        control-plane: coherence
        version: "3.5.4"
        app.kubernetes.io/name: coherence-operator
        app.kubernetes.io/managed-by: kustomize
        app.kubernetes.io/instance: coherence-operator-manager
        app.kubernetes.io/version: "3.5.4"
        app.kubernetes.io/component: manager
        app.kubernetes.io/part-of: coherence-operator
        app.kubernetes.io/created-by: controller-manager
      annotations:
        alpha.image.policy.openshift.io/resolve-names: '*'
    spec:
      serviceAccountName: service-account
      terminationGracePeriodSeconds: 10
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - name: manager
        image: controller:latest
        ports:
        - containerPort: 8000
          name: operator
          protocol: TCP
        - containerPort: 9443
          name: webhook-server
          protocol: TCP
        - containerPort: 8080
          name: metrics
          protocol: TCP
        - containerPort: 8088
          name: health
          protocol: TCP
        command:
          - /files/runner
        args:
          - operator
          - --enable-leader-election
        envFrom:
          - configMapRef:
              name: env-vars
              optional: true
        env:
          - name: OPERATOR_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: OPERATOR_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: WEBHOOK_SERVICE
            value: WEBHOOK_SERVICE_NAME
          - name: WEBHOOK_SECRET
            value: WEBHOOK_SECRET_NAME
          - name: SERVICE_NAME
            value: REST_SERVICE_NAME
          - name: CERT_TYPE
            value: "self-signed"
        volumeMounts:
        - mountPath: /tmp/k8s-webhook-server/serving-certs
          name: cert
          readOnly: true
        - mountPath: /coherence-operator/config
          name: config
          readOnly: true
        readinessProbe:
          httpGet:
            port: health
            path: /readyz
          initialDelaySeconds: 10
          periodSeconds: 10
          failureThreshold: 3
        livenessProbe:
          httpGet:
            port: health
            path: /healthz
          initialDelaySeconds: 10
          periodSeconds: 10
          failureThreshold: 3
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 256Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - "ALL"
      volumes:
      - name: config
        configMap:
          name: coherence-operator
          optional: true
      - name: cert
        secret:
          defaultMode: 420
          secretName: coherence-webhook-server-cert
          optional: true
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              control-plane: coherence
              app.kubernetes.io/name: coherence-operator
              app.kubernetes.io/instance: coherence-operator-manager
              app.kubernetes.io/version: "3.5.4"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/arch
                    operator: In
                    values:
                      - amd64
                      - arm64
                  - key: kubernetes.io/os
                    operator: In
                    values:
                      - linux
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                topologyKey: "topology.kubernetes.io/zone"
                labelSelector:
                  matchLabels:
                    control-plane: coherence
                    app.kubernetes.io/name: coherence-operator
                    app.kubernetes.io/instance: coherence-operator-manager
                    app.kubernetes.io/version: "3.5.4"
              weight: 50
            - podAffinityTerm:
                topologyKey: "oci.oraclecloud.com/fault-domain"
                labelSelector:
                  matchLabels:
                    control-plane: coherence
                    app.kubernetes.io/name: coherence-operator
                    app.kubernetes.io/instance: coherence-operator-manager
                    app.kubernetes.io/version: "3.5.4"
              weight: 10
            - podAffinityTerm:
                topologyKey: "kubernetes.io/hostname"
                labelSelector:
                  matchLabels:
                    control-plane: coherence
                    app.kubernetes.io/name: coherence-operator
                    app.kubernetes.io/instance: coherence-operator-manager
                    app.kubernetes.io/version: "3.5.4"
              weight: 1
