{{/* Copyright 2019, 2020, Oracle Corporation and/or its affiliates.  All rights reserved.              */}}
{{/* Licensed under the Universal Permissive License v 1.0 as shown at                            */}}
{{/* http://oss.oracle.com/licenses/upl.                                                          */}}
{{/*                                                                                              */}}
{{/* If installEFK is true the customer has elected to install the demo EFK stack so we use that  */}}
{{/* to generate the config as we assume that they want to use that demo stack for log capture.   */}}
{{/*                                                                                              */}}
{{- if .Values.installEFK }}
{{-   $eshost := printf "elasticsearch.%s.svc.cluster.local:9200" .Release.Namespace }}
{{/*                                                                                              */}}
apiVersion: v1
kind: Secret
metadata:
  name: coherence-monitoring-config
type: Opaque
data:
  elasticsearchhosts: {{ $eshost | toString | b64enc| quote }}
  elasticsearchuser: {{ "" | b64enc | quote }}
  elasticsearchpassword: {{ "" | b64enc | quote }}
  elasticsearchscheme: http
{{/*                                                                                              */}}
{{- else if and .Values.elasticsearchEndpoint .Values.elasticsearchEndpoint.hosts }}
{{/* else if the customer has added an elasticseach hosts and optionally other values use those    */}}
{{/* to generate the config                                                                       */}}
{{/*                                                                                              */}}
apiVersion: v1
kind: Secret
metadata:
  name: coherence-monitoring-config
type: Opaque
data:
  elasticsearchhosts: {{ .Values.elasticsearchEndpoint.hosts | default "" | toString | b64enc | quote }}
  elasticsearchuser: {{ .Values.elasticsearchEndpoint.user | default "" | toString | b64enc | quote }}
  elasticsearchpassword: {{ .Values.elasticsearchEndpoint.password | default "" | toString | b64enc | quote }}
{{-   if .Values.elasticsearchEndpoint.scheme }}
  elasticsearchscheme: {{ .Values.elasticsearchEndpoint.scheme | default "http" | toString | b64enc | quote }}
{{-   else }}
  elasticsearchscheme: http
{{-   end }}
{{/*                                                                                              */}}
{{- else if and .Values.elasticsearchEndpoint .Values.elasticsearchEndpoint.host }}
{{/* else if the customer has added an elasticseach host and optionally other values use those    */}}
{{/* to generate the config                                                                       */}}
{{/*                                                                                              */}}
{{-   $esport := default 9200 .Values.elasticsearchEndpoint.port }}
{{-   $eshost := printf "%s:%d" .Values.elasticsearchEndpoint.host $esport }}
apiVersion: v1
kind: Secret
metadata:
  name: coherence-monitoring-config
type: Opaque
data:
  elasticsearchhosts: {{ $eshost | toString | b64enc | quote }}
  elasticsearchuser: {{ .Values.elasticsearchEndpoint.user | default "" | toString | b64enc | quote }}
  elasticsearchpassword: {{ .Values.elasticsearchEndpoint.password | default "" | toString | b64enc | quote }}
{{-   if .Values.elasticsearchEndpoint.scheme }}
  elasticsearchscheme: {{ .Values.elasticsearchEndpoint.scheme | default "http" | toString | b64enc | quote }}
{{-   else }}
  elasticsearchscheme: http
{{-   end }}
{{- end }}
