# Prometheus Monitor Service (Metrics)
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    control-plane: coherence
    app.kubernetes.io/name: coherence-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/version: "3.5.6"
    app.kubernetes.io/part-of: coherence-operator
  name: controller-manager-metrics-monitor
  namespace: default
spec:
  endpoints:
    - path: /metrics
      port: http
      scheme: http
  selector:
    matchLabels:
      control-plane: coherence
      app.kubernetes.io/name: coherence-operator
      app.kubernetes.io/instance: coherence-operator-manager
      app.kubernetes.io/version: "3.5.6"
      app.kubernetes.io/component: manager
