# --------------------------------------------------------------------
# This is the Cluster Role binding required by the Coherence Operator
# to self-manage its CRDs and Web-Hooks.
# --------------------------------------------------------------------
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: crd-webhook-install-rolebinding
  labels:
    control-plane: coherence
    app.kubernetes.io/name: coherence-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/version: "3.5.4"
    app.kubernetes.io/part-of: coherence-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: crd-webhook-install-role
subjects:
- kind: ServiceAccount
  name: service-account
  namespace: default
