# permissions for end users to view coherencejob.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    control-plane: coherence
    app.kubernetes.io/name: coherence-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/version: "3.5.4"
    app.kubernetes.io/part-of: coherence-operator
  name: coherencejob-viewer-role
rules:
- apiGroups:
  - coherence.oracle.com
  resources:
  - coherencejob
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - coherence.oracle.com
  resources:
  - coherencejob/status
  verbs:
  - get
