# permissions for end users to edit coherence.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    control-plane: coherence
    app.kubernetes.io/name: coherence-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/version: "3.5.4"
    app.kubernetes.io/part-of: coherence-operator
  name: coherence-editor-role
rules:
  - apiGroups:
      - coherence.oracle.com
    resources:
      - coherence
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - coherence.oracle.com
    resources:
      - coherence/status
    verbs:
      - get
  - apiGroups:
      - coherence.oracle.com
    resources:
      - coherence/scale
    verbs:
      - get
      - patch
      - update
