# ---------------------------------------------------------------------
# This is the Cluster Roles binding required by the Coherence Operator
# to obtain Node information.
# Specifically the operator looks up Node labels to work out
# the topology information used by Coherence for site safety.
# ---------------------------------------------------------------------
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: node-viewer-rolebinding
  labels:
    control-plane: coherence
    app.kubernetes.io/name: coherence-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/version: "3.5.4"
    app.kubernetes.io/part-of: coherence-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: node-viewer-role
subjects:
- kind: ServiceAccount
  name: service-account
  namespace: default
