# -------------------------------------------------------------
# This is the service account used by the Coherence Operator.
# -------------------------------------------------------------
apiVersion: v1
kind: ServiceAccount
metadata:
  name: service-account
  labels:
    control-plane: coherence
    app.kubernetes.io/name: coherence-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/version: "3.5.4"
    app.kubernetes.io/part-of: coherence-operator
imagePullSecrets: []