# Copyright 2019, Oracle Corporation and/or its affiliates.  All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at
# http://oss.oracle.com/licenses/upl.

{{- if .Values.logCaptureEnabled }}
apiVersion: v1
kind: Secret
metadata:
  name: coherence-service-binding
type: Opaque
data:
  {{- $eshost := printf "elasticsearch.%s.svc.cluster.local" .Release.Namespace | b64enc | quote }}
  {{- if .Values.elasticsearchEndpoint }}
    {{- if .Values.elasticsearchEndpoint.host }}
  elasticsearchhost: {{ .Values.elasticsearchEndpoint.host | toString | b64enc | quote }}
    {{- else }}
  elasticsearchhost: {{ $eshost }}
    {{- end }}
  {{- else }}
  elasticsearchhost: {{ $eshost }}
  {{- end }}
  {{- $esport := 9200 | toString | b64enc | quote  }}
  {{- if .Values.elasticsearchEndpoint }}
    {{- if .Values.elasticsearchEndpoint.port }}
  elasticsearchport: {{ .Values.elasticsearchEndpoint.port | toString | b64enc | quote  }}
    {{- else }}
  elasticsearchport: {{ $esport }}
    {{- end }}
  {{- else }}
  elasticsearchport: {{ $esport }}
  {{- end }}
  {{- if .Values.elasticsearchEndpoint }}
  elasticsearchuser: {{ .Values.elasticsearchEndpoint.user | toString | b64enc | quote }}
  elasticsearchpassword: {{ .Values.elasticsearchEndpoint.password | toString | b64enc | quote }}
  {{- else }}
  elasticsearchuser:
  elasticsearchpassword:
  {{- end }}
{{- end }}