# Copyright 2019 Oracle Corporation and/or its affiliates.  All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at
# http://oss.oracle.com/licenses/upl.

# ---------------------------------------------------------------------------
# Coherence Operator GitHub Actions CI build.
# ---------------------------------------------------------------------------
name: Operator CI

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - master

env:
  RELEASE_IMAGE_PREFIX: "localhost:5000/"

jobs:
  build:
    runs-on: ubuntu-latest

#   Checkout the source, we need a depth of zero to fetch all of the history otherwise
#   the copyright check cannot work out the date of the files from Git.
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: '1.8'

    - name: Cache Go Modules
      uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-mods-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-mods-

    - name: Cache Maven packages
      uses: actions/cache@v1
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Set up Go
      uses: actions/setup-go@v2-beta
      with:
        go-version: 1.13.x

    - name: Start KinD Cluster
#     Start a KinD K8s cluster with single worker node
      shell: bash
      run: |
        sh ./hack/kind.sh --image kindest/node:v1.16.9@sha256:7175872357bc85847ec4b1aba46ed1d12fa054c83ac7a8a11f5c268957fd5765
        kubectl version
        kubectl get nodes
        docker pull gcr.io/distroless/java

    - name: Code Review
      shell: bash
      run: make code-review

    - name: Build
      shell: bash
      run: make all

    - name: Push Images
#     Push the images just built to the local Docker registry localhost:5000 started with the KinD cluster
      shell: bash
      run: |
        make push-all-images
        make kind-load

    - name: Unit Tests
      shell: bash
      run: make test-all

    - name: E2E Local Tests
      shell: bash
      run: make e2e-local-test

    - name: E2E Remote Tests
      shell: bash
      run: make e2e-test

    - name: E2E Elasticsearch Tests
      shell: bash
      run: |
        make e2e-elastic-test

    - name: E2E Prometheus Tests
      shell: bash
      run: |
        make e2e-prometheus-test

#    - name: Compatibility Tests
#      shell: bash
#      run: make compatibility-test

    - uses: actions/upload-artifact@v1
      if: failure()
      with:
        name: test-output
        path: build/_output/test-logs
