# Copyright 2019, 2021 Oracle Corporation and/or its affiliates.  All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at
# http://oss.oracle.com/licenses/upl.

# ---------------------------------------------------------------------------
# Coherence Operator GitHub Actions Backwards Compatibility Tests.
# ---------------------------------------------------------------------------
name: Backwards Compatibility Tests

on:
  push:
    branches-ignore:
    - gh-pages
    - 1.0.0
    - 2.x
  pull_request:
    types:
      - opened
      - committed
    branches-ignore:
    - gh-pages
    - 1.0.0
    - 2.x

env:
  RELEASE_IMAGE_PREFIX: "localhost:5000/"

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        compatibilityVersion:
        - 3.0.2
        include:
        - compatibilityVersion: 3.0.2
          compatibilitySelector: component=coherence-operator

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: '1.8'

    - name: Cache Go Modules
      uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-mods-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-mods-

    - name: Cache Maven packages
      uses: actions/cache@v1
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15.x

    - name: Start KinD Cluster
#     Start a KinD K8s cluster with single worker node
      shell: bash
      run: |
        sh ./hack/kind.sh --image kindest/node:v1.18.8@sha256:f4bcc97a0ad6e7abaf3f643d890add7efe6ee4ab90baeb374b4f41a4c95567eb
        kubectl version
        kubectl get nodes
        docker pull gcr.io/distroless/java
        docker pull ghcr.io/oracle/coherence-operator:3.0.2
        docker tag ghcr.io/oracle/coherence-operator:3.0.2 container-registry.oracle.com/middleware/coherence-operator:3.0.2
        kind load docker-image --name operator container-registry.oracle.com/middleware/coherence-operator:3.0.2
        docker pull ghcr.io/oracle/coherence-operator:3.0.2-utils
        docker tag ghcr.io/oracle/coherence-operator:3.0.2-utils container-registry.oracle.com/middleware/coherence-operator:3.0.2-utils
        kind load docker-image --name operator container-registry.oracle.com/middleware/coherence-operator:3.0.2-utils
        docker pull oraclecoherence/coherence-ce:14.1.1-0-1
        kind load docker-image --name operator oraclecoherence/coherence-ce:14.1.1-0-1

    - name: Code Review
      shell: bash
      run: |
        make code-review

    - name: Build
      shell: bash
      run: make all

    - name: Push Images
#     Push the images just built to the local Docker registry localhost:5000 started with the KinD cluster
      shell: bash
      run: |
        make push-all-images
        make kind-load

    - name: Compatibility Tests
      shell: bash
      run: |
        make compatibility-test COMPATIBLE_VERSION=${{ matrix.compatibilityVersion }} COMPATIBLE_SELECTOR=${{ matrix.compatibilitySelector }}

    - uses: actions/upload-artifact@v1
      if: failure()
      with:
        name: test-output
        path: build/_output/test-logs
