apiVersion: v1
kind: Service
metadata:
  name: net-test-operator-server
spec:
  selector:
    app.kubernetes.io/name: coherence-operator
    app.kubernetes.io/instance: coherence-operator-manager
    app.kubernetes.io/version: "3.4.3"
    app.kubernetes.io/component: manager
    app.kubernetes.io/part-of: coherence-operator
    coherenceNetTest: server
  ports:
    - port: 8000
      name: operator-rest
      targetPort: operator
      protocol: TCP
    - port: 443
      name: https-webhook-server
      targetPort: webhook-server
      protocol: TCP
---
apiVersion: v1
kind: Pod
metadata:
  name: net-test-operator-server
  labels:
    app.kubernetes.io/name: coherence-operator
    app.kubernetes.io/instance: coherence-operator-manager
    app.kubernetes.io/version: "3.4.3"
    app.kubernetes.io/component: manager
    app.kubernetes.io/part-of: coherence-operator
    coherenceNetTest: server
spec:
  containers:
  - name: net-test
    image: ghcr.io/oracle/coherence-operator:3.4.3
    ports:
    - containerPort: 8000
      name: operator
      protocol: TCP
    - containerPort: 9443
      name: webhook-server
      protocol: TCP
    env:
      - name: WEBHOOK_PORT
        value: "9443"
    command:
      - /files/runner
    args:
      - net-test
      - server
